@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

body {
    background-color: aqua;
    color: rgb(4, 59, 59);
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(146, 201, 201);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.peace {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px;
    height: 100px;
    width: 100px;
}
ul {
    text-align: center;
    list-style: none;
    padding: 0px 20px 20px 20px;
    font-size: 30px;
    border-style: solid;
    border-radius: 25px;
}

li {
    padding-top: 20px;
}
.eating {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}